//VARIABLES
$fuenteMain:'Uchen', serif;
$borderForms:2px solid black;

//MIXMIN
@mixin estilos1 ($align, $size) {
    text-align: $align;
    font-size: $size;
}

//IMPORTS

//ESTILOS

    //PRIMERA PAG-- ¿QUIENES SOMOS?
.seccionAPrimerapag{
    text-align: center;
    font-family: $fuenteMain;
    .tituloPrimeraSeccionPag1{
        font-size: 2em;
    }
    .PPag1{
        font-size: 1.5em;
    }
}
.seccionBPrimerapag{
    @extend .seccionAPrimerapag;
    div{
        iframe{
            border-radius: 10px;
            box-shadow: 5px 5px 10px 5px black;
        }
    }
}

    //PAG 3-- TRABAJA CON NOSOTROS
.articuloPag3{
    h2{
        @include estilos1(center,2em);
        font-family: $fuenteMain;
    }
    p{
        @include estilos1(center,1.5em);
        font-family:$fuenteMain;
    }
}
.seccionAPag3{
    p{
        @include estilos1(center,1.5em );
        font-family: $fuenteMain;
        padding: 5%;
    }
    .pFormTrabaja{
        padding: 2%;
        border-bottom:$borderForms;
        border-left: $borderForms;
        border-right: $borderForms;
    }
}
.seccionBPag3{
    p{
        @include estilos1(center,1.5em);
        font-family: $fuenteMain;
    }
    .divDelFormularioInscripcion{
        background-color: rgb(36, 190, 178);
        font-family: 'Mate SC', serif;
        border-radius: 10px;
        color: black;
    }
}