//-----ESTILO PAGINA EQUIPO

#seccionGrillaMainEquipo{
    display: grid;
    grid-template-columns:100% ;
    grid-template-rows: 70px 100px 250px 800px;
    grid-template-areas: "titulo"
                         "parrafo"
                         "oficiales"
                         "detectives";
    font-family: 'Mate SC', serif;
}


#equipo{
    color:black;
    grid-area: titulo;
    text-align: center;
    font-size: 4em;
    font-family: $fuenteHeaders;
}
.hrEquipo{
    margin: 0;
    margin-left: 7%;
    margin-right:7%;
}

#divParrafoEquipo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: parrafo;
    font-size: 1.3em;
    padding-left: 100px;
    padding-right: 100px;
}
#seccionOficiales{
    grid-area: oficiales;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    .imagenOficiales{
        height: 300px;
        margin-left: 7%;
    }
    .pSeccionOficiales{
        align-self: center;
        font-size: 1.5em;
        padding: 5%;
        
    }
}



#seccionDetectives{
    margin-top: 3%;
    .tituloDetectives{
    grid-area: detectives;
    text-align: center;
    font-size: 3em;
    }
    .pDetectives{
    grid-area: detectives;
    text-align: center;
    font-size: 2em;
    }
    #equipotactico{
    color:yellow;
    }
}

/*SECCIO DE DETECTIVES ESTILO FIGURITAS*/
#divDetectives{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contenedorDetectives{
    height: 250px;
    width: 15%;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedorDetectives:hover{
transform: scale(1.1);
transition: 0.8s;
}
.imagesDetectives{
    height: 80%;
    width: 90%;
}




