//ESTILO INDEX
#asideIndex{
    display: inline-block;
    grid-area: nav;
    height: 100%;
}
#mainIndex{
    display: inline-block;
    grid-area: main;
}
#gridEstructuraIndex{
    display: grid;
    grid-template-columns: 17% 80% ;
    grid-template-rows: 300px 500px;
    grid-template-areas: "nav main"
                         "nav main";
}

//----ESTILO ENCABEZADO INDEX
#headerIndex{
    height: 65px;
    width: 100%;
    background-image: linear-gradient(to right, yellow, rgb(179, 182, 31));
    border-bottom: black 1px solid;
}

#divHeaderIndex{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
.encabezadoIndex{ 
    font-style: normal;
    font-weight:bolder;
    color: black;
    position:sticky;
    font-family: 'Mate SC', serif;
    opacity: 0.9;
    text-align: center;
}

//-----ESTILO NAV INDEX 
.navIndex{ 
    background-color: rgb(22, 22, 22);
    display: inline-block;
    height: 100%;
    padding: 0% 5% 0% 5%;
    border-right: 2px solid white;
}
.navIndex__lista{
    display: flex;
    flex-direction: column;
    text-align:left;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Mate SC', serif;
    color: white;
    height: 100%;
    padding-left: 0;
}
.aIndex{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.aIndex:hover{
    color: gray;
}

//----ESTILO PRIMERA SECCION INDEX
.primeraSeccionIndex{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 150px 80px 100px 350px ;
    grid-template-areas: "titulo"
                         "logo"
                         "parrafo1"
                         "parrafo2"
                         "carrusel";    
}
#primeraSeccionTituloDiv{
    grid-area: titulo;
    display: flex;
    justify-content: center;
}
.primeraSeccionIndex__titulo{
    font-size: 4em;
    color:#b30e0e;
    display: inline-block;
    margin: 1%;
    font-family: 'Mate SC', serif;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#primerParrafoIndexDiv{
    grid-area: parrafo1;
}
.primeraSeccionIndex__parrafo{
    color:black;
    line-height: 1.5;
    text-align: center;
    font-size: 1.7em;
    font-family: $fuenteMain;
    margin-top: 2%;
}
.segundaSeccionIndexParrafo{
    text-align: center;
    font-size: 1.7em;
    font-family: $fuenteMain;
    padding-left: 4%;
    padding-right: 4%;
}
#segundoParrafoIndexDiv{
    grid-area: parrafo2;
}
#divLogoIndex{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}
#logoIndex{
    grid-area: logo;
    height: 150px;
    width: 30%;
    img{
        animation-name: animacionEscudo;
        animation-iteration-count: infinite;
        animation-duration: 15s;
    }
}
.carruselIndex{
    grid-area: carrusel;
    transition: 5s;
    margin-top: 1%;
}
.imgCarrusel{
    height: 100%;
    width: 100%;
}

//----ANIMACION DEL ESCUDO DE BROOKLYN
@keyframes animacionEscudo {
    0%{
        transform: rotateY(0deg);
    }
    10%{
        transform: rotateY(36deg);
    }
    20%{
        transform: rotateY(72deg);
    }
    30%{
        transform: rotateY(108deg);
    }
    40%{
        transform: rotateY(144deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    60%{
        transform: rotateY(216deg);
    }
    70%{
        transform: rotateY(252deg);
    }
    80%{
        transform: rotateY(288deg);
    }
    90%{
        transform: rotateY(324deg);
    }
    100%{
        transform: rotateY(360deg);
    }

}
